@charset "utf-8";
.details {
	padding: 30px;
}

.details .dl-tops {
	border-bottom: solid 1px #D6D6D6;
	padding: 10px 0 30px 0;
}

.details .dl-content {
	padding-top: 30px;
}

.dl-content .table tr td,
.dl-content .table tr td div .lefts {
	line-height: 30px;
	border: none;
	font-size: 14px;
}

.dl-content .table tr td span {
	font-size: 18px;
	color: #f00;
	top: 6px;
	position: relative;
}

.dlc-texts .lefts {
	width: 80px;
	float: left;
}

.dlc-texts .rights {
	width: 710px;
	padding-top: 5px;
	float: right;
	font: 500 14px/30px "微软雅黑";
}

.details h3 {
	font: 600 20px/40px "微软雅黑";
	height: 40px;
}

.details .industry {
	height: 28px;
	font: 500 14px/28px "微软雅黑";
	color: #8c8c8c;
	margin-top: 15px;
}

.details .industry span {
	float: left;
	width: 60px;
}

.details .industry span.active {
	height: 28px;
	background: #1875F0;
	padding: 0 10px;
	margin-right: 10px;
	color: #fff;
	display: inline;
	float: left;
	width: auto;
}


/*接收箱css*/

.release-detail {
	padding: 20px;
}

.release-detail .table .lefts {
	width: 44px;
}

.release-detail .table .rights {
	width: 770px;
}

.release-detail .dl-content .table tr td {
	line-height: 20px;
}

.release-detail .dl-content .table tr td.more-text {
	padding-top: 2px;
}

.more-text .dlc-texts {
	padding-bottom: 50px;
}

.more-text .dlc-texts p {
	height: auto;
}

.release-detail .table .lefts,
.release-detail .table .rights {
	line-height: 20px;
	padding: 0;
}


/*.release-detail .company-introduce {
	height: 40px;
	margin-top: 40px;
	text-align: right;
}*/

.company-introduce .btn {
	padding: 0;
	margin: 0;
	width: 100px;
	height: 40px;
	border-radius: 4px;
	border: solid 1px #d6d6d6;
	font: 500 18px/40px "微软雅黑";
	color: #d6d6d6;
	text-align: center;
	color: #000;
	background: #fff;
	margin-left: 12px;
}

.company-introduce .btn:focus {
	outline: none;
}

.company-introduce .btn.btn-success {
	background: #1875F0;
	border-color: #1875F0;
	color: #fff;
}

.bicp-top {
	height: 145px;
}

.bicp-top .lefts {
	width: 260px;
	height: 145px;
	float: left;
}

.bicp-top .lefts .inner {
	border: solid 1px #ededed;
	border-radius: 4px;
	height: 143px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 258px;
}

.bicp-top .lefts .inner img {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

.bicp-top .rights {
	height: 145px;
	float: right;
	width: 550px;
}

.rights h4 {
	height: 50px;
	font: 600 20px/50px "微软雅黑";
	color: #000;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.rights p {
	height: 30px;
	font: 500 14px/30px "微软雅黑";
	color: #8c8c8c;
}

.rights p span {
	color: #000;
	padding-right: 20px;
	border-right: solid 1px #D6D6D6;
	margin-right: 20px;
}

.rights p span.last-span {
	border: none;
	margin: 0;
}

.rights p.intro {
	height: 60px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.rights h4 .button {
	width: 27px;
	height: 27px;
	float: right;
	background: url(../img/zz_35.png);
	border: none;
	cursor: pointer;
	margin-top: 11px;
}

.rights h4 button:focus {
	outline: none;
}