@charset "utf-8";
.user-bodys {
	padding: 30px 0;
	background: #F7F7F7;
}

.trd-position {
	padding: 0 0 30px 0;
}

.user-content .uc-lefts {
	width: 260px;
	background: #fff;
	min-height: 400px;
	float: left;
	padding: 20px;
}

.uc-lefts .ull-tops {
	text-align: center;
}

.ull-tops h3 {
	margin-top: 18px;
	font: 600 16px/16px "微软雅黑";
	color: #000;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.ull-tops p {
	margin-top: 10px;
	font: 500 14px/16px "微软雅黑";
	color: #999;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.user-content .uc-rights {
	width: 870px;
	min-height: 400px;
	float: right;
}

.uc-lefts .photo {
	height: 72px;
	width: 72px;
	padding: 0 94px;
	position: relative;
}

.uc-lefts .photo .caret {
	position: absolute;
	background: url(../img/zz_32.png) no-repeat left top;
	width: 100px;
	height: 37px;
	left: 156px;
	top: 20px;
}

.uc-lefts .photo img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}

.static {
	margin-top: 20px;
	border-top: solid 1px #D6D6D6;
	border-bottom: solid 1px #D6D6D6;
	padding: 20px 0;
	height: 56px;
}

.static li {
	border-right: solid 1px #D6D6D6;
	height: 56px;
	width: 32%;
	float: left;
	text-align: center;
}

.static li h4 {
	height: 30px;
	font: 600 18px/30px "微软雅黑";
	color: #000;
}

.static li p {
	height: 20px;
	font: 600 12px/20px "微软雅黑";
	color: #8C8C8C;
}

.static li.no-border {
	border: none;
}

.ucl-menus {
	padding: 20px 0;
}

.ucl-menus li {
	height: 40px;
	font: 500 14px/40px "微软雅黑";
}

.ucl-menus li a {
	display: block;
	height: 40px;
	color: #333;
}

.ucl-menus li a:hover {
	color: #1875f0;
}

.ucl-menus li.active a {
	font-weight: 600;
	color: #1875f0;
}

.ucl-menus li span {
	float: right;
	font-weight: bold;
	color: #000;
}

.ucl-menus li.active span {
	color: #1875f0;
}

.ucr-bodys {
	border: none;
	width: 100%;
	overflow-y: hidden;
	min-height: 516px;
}

*html .ucr-bodys,
*+html .ucr-bodys {
	height: 516px;
}
